@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{font-family:'Open Sans';
	padding: 0;
	margin: 0;


}
.error{color:red}
/*.valid{}*/
.main-container{
	/*border: 1px solid red;*/
	display:  flex;
	width: 100%;
	/*justify-content:center;*/
	align-items: center;
	height: 100vh;



}
.leftpart{
	/*background: grey;*/
	width: 50%;
	position: relative;
	height: 100vh;
}
.rightpart{
	display: block;
	background: pink;
	background: #63BA2F;
	height: 100%;
	width: 50%;
	position: relative;

}
.regi_detail{
	/*border: 1px solid red;*/
		width: 70%;
		position: absolute;
		top:50%;
		left: 25%;



}
.login-part{
	/*border: 1px solid blue;*/
	width: 50%;
	position: absolute;
	top: 30%;
	left: 25%;

}
.image-logo img{
	/*border: 1px solid red;*/
			width: 70%;
			padding: 20px 0 20px  0px;
}

.form-field input{
					width: 90%;
					padding: 5px;
					border: 1px solid #ccc;
					margin-top: 12px;
					border-radius: 3px;
}
.submit{
	width: 100px !important;
	/*width: 35% !important;*/
	background:  #63BA2F;
	color: white;
	padding:30px;
}
.file_path{
		color: white;
		margin-top: 12px;

}
.loginpart_p{
			padding: 0 100px;
	border: 1px solid red;
			 /*word-spacing:20px;*/
		/*text-align: center;*/
		font-size: 1.3em;
}
.login-detail{
			font-size: 1.9em;
			margin-left: 10%;
}
.for{
	margin-right: 2%;
}
/*.sage{
	font-size: 1em !important;
		font-weight:600!important;

}*/
.file_path .reg_head{
		font-size: 1.2em;
		font-weight: 600;
}
.reg_p {
	margin-left: 2%;
		font-size:0.9em;
}
@media only screen and (max-width: 1025px)
{
	/*body{background: grey}*/
	.form h3{ font-size: 1em }

	.file_path .reg_head{
		font-size: 0.9em;
		font-weight: 600;
		}
.reg_p ,input{
		font-size:0.8em;
	}
	.submit{
			padding:0 10px;
	}
	/*input {
		font-size:0.7em;
	}*/
} 




@media only screen and (max-width: 800px)
{
	/*body{background: pink}*/

		.form h3{ font-size: 0.9em }
	.file_path .reg_head{
		font-size: 0.8em;
		font-weight: 600;
		}
input,.reg_p {
	margin-left: 2%;
		font-size:0.7em;
	}
} 
@media only screen and (max-width: 767px)
{
	/*body{background: purple}*/
	.form h3{ font-size: 0.8em }
	.regi_detail{
			left: 20%;
	}

	.file_path .reg_head{
		font-size: 0.6em;
		font-weight: 600;
		}
input,.reg_p,.submit {
		font-size:0.5em;
	}
} 
@media only screen and (max-width: 550px)
{
	/*body{background:lightgreen}*/
	
	.form h3{ font-size: 0.7em }

		.file_path{
		color: white;
		margin-top: 1px;

}
	.file_path .reg_head{ font-size: 0.6em; font-weight: 600; } 
input,.reg_p {
 font-size:0.4em;
 } 
 .submit {
 	width: 80px !important;
 	font-size:0.4em;
 }

} 